<div class='nav-left-side'>
    <a href='/'><i class='fa-solid fa-house home-button'></i></a>
    {{log profile}}
    {{#unless profile}}
    <a href='/profile/{{userData.id}}'><i class='fa-solid fa-user'></i></a>
    {{/unless}}
    <a id='modalBtn' class='button-m'>
      <i class='fa-solid fa-star'></i>
    </a>
    <a target='_blank' href='https://vscode.dev/'><i
        class='fa-solid fa-code'
      ></i></a>
    <a id='postModalButton' class='write-button' href='#'><i
        class='fa-solid fa-pen'
      ></i></a>
          <a href='/settings'><i class='fa-solid fa-gear'></i></a>
    <a class='button-m logout-button'>
      <i class='fa-solid fa-right-from-bracket'></i>
    </a>
  </div>