<div class='container-2'>
  <form class='form' id='login'>
    <h1 class='form__title'>Login</h1>
    <div class='form__message form__message--error'></div>
    <div class='form__input-group'>
      <input type='text' class='form__input' placeholder='Username' />
      <div class='form__input-error-message'></div>
    </div>
    <div class='form__input-group'>
      <input type='password' class='form__input' placeholder='Password' />
      <div class='form__input-error-message'></div>
    </div>
    <button class='form__button' type='submit'>Login</button>
    <p class='form__text'>
      <a href='#' class='form__link'>Forgot your password?</a>
    </p>
    <p class='form__text'>
      <a class='form__link' href='./' id='linkCreateAccount'>Create account</a>
    </p>
  </form>
</div>