<div class='box'>
  <div class='form'>
    <h1 class='form__title'>Login</h1>
    <input class='username-input form__input username-input' type='text' />
    <input class='password-input form__input' type='password' />
    <h3 class="warning-text"></h3>
    <button class='submit-login'>Submit</button>

    <a href="/signup/user">Create an account</a>

  </div>
</div>
<script src='/js/login.js'></script>
