
<div class="box">
    <form class='form' id='createAccount'>
      <h1 class='form__title'>Create Account</h1>
      {{! <div> TO DO Choose Avatar </div> }}
      <div class='form__message form__message--error'></div>
      <div class='form__input-group'>
        <input
          type='text'
          id='signupUsername'
          class='form__input'
          placeholder='Username'
        />
        <div class='form__input-error-message'></div>
      </div>
      <div class='form__input-group'>
        <input type='text' class='form__input' placeholder='GitHub URL' />
        <div class='form__input-error-message'></div>
      </div>
      <div class='form__input-group'>
        <input type='password' class='form__input' placeholder='Password' />
        <div class='form__input-error-message'></div>
      </div>
        <div class='form__input-error-message'></div>
      
      <button class='form__button' type='submit'>Continue</button>
      <p class='form__text'>
        <a class='form__link' href='./' id='linkLogin'>Already have an account?
          Sign in</a>
      </p>
    </form>
</div>
