    <div class="container-2">
        <form class="form" id="createAccount">
            <h1 class="form__title">Create Account</h1>
            <button class="avatar" data-avatar="0" border-radius="50%" type="button"><img src="/images/avatar.jpg" alt="avatar0" border-radius="50%"/></button>
            <button class="avatar" data-avatar="1" border-radius="50%" type="button"><img src="/images/avatar1.png" alt="avatar1" border-radius="50%"/></button>
            <button class="avatar" data-avatar="2" border-radius="50%" type="button"><img src="/images/avatar2.png" alt="avatar2" border-radius="50%"/></button>
            <button class="avatar" data-avatar="3" border-radius="50%" type="button"><img src="/images/avatar3.png" alt="avatar3" border-radius="50%"/></button>
            <button class="avatar" data-avatar="4" border-radius="50%" type="button"><img src="/images/avatar4.png" alt="avatar4" border-radius="50%"/></button>
            <button class="avatar" data-avatar="5" border-radius="50%" type="button"><img src="/images/avatar5.png" alt="avatar5" border-radius="50%"/></button>
            <button class="avatar" data-avatar="6" border-radius="50%" type="button"><img src="/images/avatar6.png" alt="avatar6" border-radius="50%"/></button>
            {{!-- <div> TO DO Choose Avatar </div> --}}
            <div class="form__message form__message--error"></div>
            <div class="form__input-group">
                <input type="text" id="signupUsername" class="form__input" placeholder="Username">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="text" class="form__input" placeholder="Email Address">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" placeholder="Password">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input"  placeholder="Confirm password">
                <div class="form__input-error-message"></div>
            </div>
            <button class="form__button" type="submit">Continue</button>
            <p class="form__text">
                <a class="form__link" href="./" id="linkLogin">Already have an account? Sign in</a>
            </p>
        </form>
    </div>
<script src="/js/profilePic.js"></script>