.body {
    --color-primary: darkgreen;
    --color-primary-light: green;
    --color-error: red;
    --color-success: green;
    --border-radius: 20px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    font-size: 18px;
    background-size: cover;
}

.box{
    width: 100%;
    display: flex;
    justify-content: center;
}

.form {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background: rgb(43, 41, 41);
    border-style: solid;
    border-color: darkgreen;
}

.container-2,
.form__input,
.form__button {
    font: 500 1rem ;
}


.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: green;
}

.form__message--error {
    color: red;
}

.form__input-group {
    margin-bottom: 1rem;
    width: 100%;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid darkgreen;
    outline: none;
    background: rgb(43, 41, 41);
    
}

.form__input:focus {
    border-color: darkgreen;
    background: whitesmoke;
}

.form__input--error {
    color: red;
    border-color: red;
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: red;
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    background: darkgreen;
}

.form__button:hover {
    background: green;
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}