.avatar,
.pic-pro {
  text-align: center;
  margin: auto;
  display: flex;
  outline: 1px solid white;
  border-radius: 50%;
  width: 87px;
  transition: all 0.3s;
  cursor: pointer;
}
.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.avatar:hover {
  outline: 5px solid white;
  outline-offset: 5px;
}

.signuplogo {
  font-size: 69px;
  text-align: center;
  justify-content: center;
}
.logo-subtext {
  pointer-events: none;
}

#create-account-header {
    font-weight: 400;
    margin:.5rem auto 0;
    font-size: .66rem;
    opacity: .7;
    pointer-events: none;
}

.select-an-avatar {
  margin: 3rem auto 1rem;
  font-size: .6rem;
  opacity: .5;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-radius: 25%;
  height: 1rem;
  display: flex;
  align-items: center;
  padding: .33rem;
  pointer-events: none;
}

#signup-avatar-container {
    margin-bottom: 4rem;
}

.signup-hr-lg,
.signup-hr-md,
.signup-hr-sm {
    border-radius: 50%;
    background-color: white;
    height: 3px;
    opacity: .5;
}
.signup-hr-lg {
    width: 100%;
    margin: .5rem auto;
}
.signup-hr-md {
  width: 66%;

}
.signup-hr-sm {
    width: 33%;
    margin-top: .5rem;
    height: 1px;
}

.signup-input {
  font-size: 1rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  transition: all .3s;
}
.signup-input::placeholder {
  font-size: .66rem;
}
.signup-input:focus {
  transform: scale(1.01);
  color: black;
}

#signup-continue {
  width: 66%;
  height: 2rem;
  background-color: green;
  border-radius: 10px;
  margin: 1rem;
  border: 1px solid white;
  transition: all .3s;
}
#signup-continue:hover {
  background-color: white;
  color: green;
  border: 1px solid green;
}

#createAccount {
  margin: 3rem auto;
}

.form__input-group {
  margin: 0;
}

.already-account {
  font-size: .66rem;
  opacity: .7;
  pointer-events: none;
}

#linkLogin {
  margin-top: 1rem;
  border-left: 3px solid black;
  border-right: 3px solid black;
  padding: .33rem .66rem;
  border-radius: 25%;
  transition: all .3s;
}
#linkLogin:hover {
  text-decoration: none;
  color: green;
  border-left: 3px solid white;
  border-right: 3px solid white;
  padding: .33rem .99rem;
}