.avatar,
.pic-pro {
  text-align: center;
  margin: auto;
  display: flex;
  outline: 1px solid white;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  transition: all 0.3s;
  cursor: pointer;
  opacity: 100%;
  /* outline: calc(100px/2) solid #0009;
    outline-offset: calc(100px/-2); */
}
.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.avatar:hover {
  outline: 5px solid white;
  outline-offset: 5px;
}

.signuplogo {
  font-size: 69px;
  text-align: center;
  justify-content: center;
}

#create-account-header {
    font-size: 20px;
    font-weight: 400;
    margin:.5rem auto 0
}

#signup-avatar-container {
    margin: 3rem auto;
}

.signup-hr-lg,
.signup-hr-md,
.signup-hr-sm {
    border-radius: 50%;
    background-color: white;
}
.signup-hr-lg {
    width: 100%;
    margin: .5rem auto;
}
.signup-hr-md {
  width: 66%;

}
.signup-hr-sm {
    width: 33%;
    margin-top: .5rem;
}

.signup-input {
  font-size: 1rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  transition: all .3s;
}
.signup-input::placeholder {
  font-size: .66rem;
}
.signup-input:focus {
  transform: scale(1.01);
  color: black;
}

#signup-continue {
  width: 66%;
  height: 2rem;
  background-color: green;
  border-radius: 10px;
  margin: .33rem auto 2rem;
  border: 1px solid white;
  transition: all .3s;
}
#signup-continue:hover {
  background-color: white;
  color: green;
  border: 1px solid green;
}

#createAccount {
  margin: 3rem auto;
}

.form__input-group {
  margin: 0;
}

.already-account {
  font-size: .66rem;
  opacity: .7;
}

#linkLogin {
  margin-top: 1rem;
}